<div class="flex items-center">
  <h4 class="mt-10 text-xl font-bold">
    Formularios <small class="font-medium"> Template </small>
  </h4>
  <span class="flex-1"></span>

  <button
    (click)="cambiarFormulario()"
    mat-raised-button
    color="primary"
    type="button"
  >
    Formulario Reactivo
  </button>
</div>
<hr />

<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">
  <div class="form mt-4 w-[500px]">
    <mat-form-field class="w-full">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        type="text"
        name="nombre"
        [(ngModel)]="usuario.nombre"
        required
        minlength="5"
        #nombre="ngModel"
      />

      <small
        *ngIf="nombre.invalid && nombre.touched"
        class="text-xs text-red-600"
        >Ingrese 5 letras</small
      >
      <mat-icon color="warn" *ngIf="nombre.invalid && nombre.touched" matSuffix
        >warning</mat-icon
      >
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Apellido</mat-label>
      <input
        matInput
        type="text"
        name="apellido"
        [(ngModel)]="usuario.apellido"
        required
        minlength="5"
        #apellido="ngModel"
      />
      <small
        *ngIf="apellido.invalid && apellido.touched"
        class="text-xs text-red-600"
        >Ingrese 5 letras</small
      >
      <mat-icon
        color="warn"
        *ngIf="apellido.invalid && apellido.touched"
        matSuffix
        >warning</mat-icon
      >
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Correo Electrónico</mat-label>
      <input
        matInput
        [(ngModel)]="usuario.email"
        name="correo"
        type="email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        #correo="ngModel"
      />
      <small
        *ngIf="correo.invalid && correo.touched"
        class="text-xs text-red-600"
        >Ingrese un correo válido</small
      >
      <mat-icon color="warn" *ngIf="correo.invalid && correo.touched" matSuffix
        >warning</mat-icon
      >
    </mat-form-field>

    <h4>País de Origen</h4>
    <mat-form-field class="w-full">
      <mat-label>Seleciona un País</mat-label>
      <mat-select
        [disabled]="paisesSelect.length === 0"
        [(ngModel)]="usuario.pais"
        name="pais"
        required
        #pais="ngModel"
      >
        <mat-option *ngFor="let pais of paisesSelect" [value]="pais.codigo">
          {{ pais.nombre }}
        </mat-option>
      </mat-select>
      <small *ngIf="pais.invalid && pais.touched" class="text-xs text-red-600"
        >Selecione un país de la lista</small
      >
    </mat-form-field>

    <section class="example-section">
      <label class="example-margin">Genero:</label>
      <mat-radio-group
        name="genero"
        [ngModel]="usuario.genero"
        required
        #genero="ngModel"
      >
        <mat-radio-button class="example-margin" value="M"
          ><span [ngClass]="{ errorRadio: genero.invalid && genero.touched }"
            >Masculino</span
          ></mat-radio-button
        >
        <mat-radio-button class="example-margin" value="F"
          ><span [ngClass]="{ errorRadio: genero.invalid && genero.touched }"
            >Femenino</span
          >
        </mat-radio-button>
      </mat-radio-group>
      <small
        *ngIf="genero.invalid && genero.touched"
        class="text-xs text-red-600 ml-4"
        >Selecione un genero</small
      >
      <mat-icon
        class="ml-2"
        *ngIf="genero.invalid && genero.touched"
        color="warn"
        aria-hidden="false"
        fontIcon="warning"
      ></mat-icon>
    </section>

    <button mat-raised-button color="accent" type="submit" class="w-full">
      Guardar
    </button>
  </div>
</form>
