<h4 class="mt-10 text-xl font-bold">
  Formularios <small class="font-medium"> Reactive </small>
</h4>
<hr />

<div class="form mt-4 w-[500px]">
  <mat-form-field class="w-full">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Apellido</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Correo Electrónico</mat-label>
    <input type="email" matInput />
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" class="w-full">
    Guardar
  </button>
</div>
